*.iml
*.gz
log*.txt
*.db
.storage
.cloud
secrets.yaml
\.*
source.js
/custom_components/xboxone/tokens.json

/www/custom_ui/flower-card/data
/www/custom_ui/flower-card/data
/known_devices.yaml
home-assistant.log

ssh
*.pyc
