log*.txt
*.db
.storage
.cloud
secrets.yaml
\.*
source.js
/custom_components/xboxone/tokens.json

/www/custom_ui/flower-card/data/data.js
/www/custom_ui/flower-card/data/Images/
/known_devices.yaml
home-assistant.log

